@import "../bulma/sass/utilities/initial-variables"
@import "../bulma/sass/utilities/functions"

$body-size: 18px

@import "../bulma/bulma"

.main-header
	background-image: url("/theme/img/background-main.jpg")
	background-size: cover

.main-content
	box-shadow: 1px -8px 5px 0 rgba(0,0,0,0.1)
	li
		margin-bottom: 0.7rem


.hero.is-large .hero-body
	padding-top: 6rem

.year-div
	font-weight: 600
	margin-left: -30px

@media only screen and (max-width: 1200px)
	.main-header
		background-position: center