@import "../bulma/sass/utilities/initial-variables"
@import "../bulma/sass/utilities/functions"

$body-size: 18px

@import "../bulma/bulma"

.navbar
	background-color: transparent

.hero.main-header
	background-image: url("/theme/img/background-main.jpg")
	background-size: cover
	margin-top: -3.25rem

	& > .hero-body
		padding-top: 14rem

	.my-bio
		background-color: rgba(255, 255, 255, 0.85)
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.05), 0 0 0 1px rgba(10,10,10,0.05)
	.footer
		background-color: white
		padding: 20px
		margin-top: 250px


.main-content
	box-shadow: 1px -8px 5px 0 rgba(0,0,0,0.1)

	
	@media only screen and (min-width: 1215px)
		.main-block
			padding: 10px 20px

	.contacts
		ul 
			columns: 2
			margin-left: 0
			list-style: none

		@media only screen and (min-width: 1215px)
			ul
				columns: 3
		@media only screen and (max-width: 768px)
			ul
				columns: 1
		li
			margin-bottom: 0.7rem

	.posts
		background-image: linear-gradient(141deg,#e8e5e6 0,whitesmoke 71%,white 100%)
		padding: 30px

		@media only screen and (max-width: 768px)
			margin: 0px -1.5rem

ul.posts-list
	columns: 2
	column-gap: 60px
	list-style: none
	margin-left: 0
	li
		margin-bottom: 20px

@media only screen and (max-width: 1215px)
	ul.posts-list
		columns: 1

.year-div
	font-weight: 600
	margin-left: -30px

@media only screen and (max-width: 1200px)
	.main-header
		background-position: center

.content a, .card a
	&:link
		border-bottom: 1px solid rgba(0,137,255,.3)
		transition: color .3s ease,border-color .3s ease

	&:visited
		color: #b40eb4
		border-color: rgba(180,14,180,.3)

	&:hover
		color: #f41224
		border-color: rgba(244,18,36,.3)



.post-header
	.title
		margin-bottom: 10px

.article-header, .article-content
	padding: 20px

