<div class="conferences">
	<ul>
		<li>International Student Research Conference, National Research University Higher School of Economics (Санкт-Петербург). Presentation: Social problems detection in online-media</li>

		<li>Digital Transformations & Global Society 2017 (DTGS’17) (Санкт-Петербург). Presentation: Detecting interethnic relations with the data from social media</li>

		<li>Digital Transformations & Global Society 2017 (DTGS’17) (Санкт-Петербург). Presentation: Digital Inequality in Russia through the Use of Social Network Site: A Cross-Regional Comparison</li>

		<li>European Symposium Series on Societal Challenges in Computational Social Science (London). Presentation: Ethnic Discussions in Russian-language Social Media: Representation of Ethnicities and Judgment Analysis </li>

		<li>VII Международная научно-практическая конференция памяти А.О. Крыштановского «Методы и процедуры социологических исследований» (Москва). Presentation: Возможности и ограничения метода тематического моделирования в социологических исследованиях</li>

		<li>IV Международная научная конференция "Математическое и компьютерное моделирование" (Омск). Presentation: Исследование дискурса о биопедагогике при помощи тематического моделирования и синтаксического анализа текстов</li>
	</ul>
</div>