<nav class="navbar is-transparent">
	<div class="navbar-brand">
		<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="/">
				Main
			</a>
			<a class="navbar-item" href="/category/posts">
				Blog
			</a>
			<a class="navbar-item" href="#contacts">
				Contacts
			</a>
		</div>
	</div>
</nav>