<div class="papers-list">
 {% for article in articles|sort(attribute='date', reverse=True) if "Posts" == article.category %}
 	{% if loop.index <= 10 %}
     <div>
     	<small>{{ article.date.strftime('%-d %B %Y') }}</small>
     	<a href="{{ SITEURL }}/{{ article.url }}">
     		{{ article.title }}
     	</a>
     	<div>
        {% if article.has_summary %}
            {{ article.summary }}
        {% elif article.summary %}
            {{ article.summary|striptags|truncate(250) }}
        {% endif %}
     	</div>
 	</div>
 	<br>
     {% endif %}
 {% endfor %}
</div>

