<div class="projects">
	<ul>
		2017
		<li>"The Internet as a socio-technical phenomenon". The project has been carried out as part of the HSE Program of Fundamental Studies.</li>
		<li>"Development of concept and methodology for multi-level monitoring of the state of interethnic relations with the data from social media". The research project was supported by Russian Science Foundation.</li>
		2016
		<li>"Internet use and Internet users: cross-country and cross-regional comparisons". The project has been carried out as part of the HSE Program of Fundamental Studies.</li>
	</ul>
</div>