<div class="teaching">
	<ul>
		<li>Applications and Practice of Data Science (Bachelor’s programme; St. Petersburg School of Social Sciences and Humanities; 3 year, 3, 4 module)RUS</li>
		<li>Practical Programming and Data Analysis in Special Environments (Master’s programme; St.Petersburg School of Economics and Management; programme "Big Data Analysis for Business, Economy, and Society"; 1 year, 1, 2 module)RUS</li>
		<li>Social Issues-2 (Bachelor’s programme; St. Petersburg School of Social Sciences and Humanities; programme "Sociology"; 3 year, 3, 4 module)</li>
	</ul>
</div>